body {
   font-family: Verdana; 
   text-align: center;
   background-color: black;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link {
    color: Aquamarine;
    font-size: 16px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

#description {
    font-size 21px;
    color: Gray;
}

#citation {
    text-align: right;
    color: Gray;
}